<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
</head>
<body>

<h2>What book are you looking for:</h2>

<form th:method="POST" th:action="@{/books/search}">
    <label for="input">Enter book name:</label>
    <input id="input" type="search" th:name="keywords">
    <br>
    <input type="submit" value="Find">
</form>

<div th:if="${foundBooks}">
    <div th:if="${foundBooks.isEmpty()}">
        <p>No such books</p>
    </div>

    <div th:each="book:${foundBooks}">
        <p th:text="${book.getName()}+','+${book.getAuthor()}+','+${book.getYear()}">VALUE</p>
        <p th:if="${book.getOwner()==null}" th:text="'Book is available'">VALUE</p>
        <p th:unless="${book.getOwner()==null}" th:text="'Book is now at: ' + ${book.getOwner().getName()}">VALUE</p>
    </div>
</div>

<br>
<a href="/books">All books</a>



</body>
</html>